


<footer class="footer">
    <button class="contact-btn">Contact us </button>
    <div class="footer-left">
        <a class="appstore-btn" href="#"> <img src="/images/applestore.svg" alt=""></a>
        <a class="google-btn"><img src="/images/GetItOnGooglePlay_Badge_Web_color_English.png" alt=""></a>
    </div>

    <ul style="list-style-type: none;"  class="footer-right">
        <li class="left-menu">
            <h2>Support</h2>
            <ul style="list-style-type: none;" class="support-box">
                <li><a href="#">FAQs</a></li>
            </ul>
        </li>
    
        <li style="list-style-type: none;" class="Right-menu">
            <h2>Resources</h2>
            <ul style="list-style-type: none;" class="featurelist">
                <li><a href="#">Add parking to your webiste </a></li>
                <li><a href="#">Privacy Policy </a></li>
                <li><a href="#">Terms of Service</a></li>
                <li><a href="#">Acessiblity Statement </a></li>
                <li><a href="#">Owners service update</a></li>
            </ul>
        </li>
    </ul>

    <hr/>

    <div class="footer-bottom">
        <p>© 2026 Parking Inc. 
            <a href="#"> Privacy </a>
            <a href="#">. Terms </a>
            <a href="#">. sitemap </a>
        </p>
    </div>  

    <div class="socials">
            <a href="#"><img class="fb-logo" src="/images/Facebook_Logo_Primary.png" alt="facebook logo"></a> 
            <a href="#"><img class="x-logo" src="/images/twitter.png" alt="x logo"></a> 
            <a href="#"><img class="insta-logo" src="/images/insta.png" alt="Instagram logo"></a> 
    </div>

</footer>