*{
    background-color: rgb(0, 0, 0);
    color: white;
    box-sizing: border-box;
}

/* footer div */
.footer{
    width: 100%;
    color: white;
    bottom: 0px;
    position: fixed;
}
/* contact div */
.contact-div{
    background-color: rgb(0, 0, 0);   
    color: white;
}
.contact-div button{
   color: white;
   border-radius: 0px;
   padding: 0 60px;
   margin-bottom: -35px;
   margin-left: 10px;
}

/* online store logos */
.app-logo{
    margin-top: 45px;
    margin-left: 10px;
}

.google-btn{
    width: 135px;
    height: 40px;
    margin-left: 10px;
} 

/* left menu  */
.list-left{
    position: fixed;
    margin-left: 750px;
    margin-top: -110px;
}
/* right menu */
.list-right{
    position: static;
    margin-left: 1140px;
    margin-top: -110px;
    text-decoration: none;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
/* footer links at the bottom */
.footer-bottom{
    position: relative;
}
.copy-right{
    margin-bottom: -32px;
}

/* Social icons */
.social-icons{
    position: relative;
    left: 1420px;
}
.x-logo{
    width: 24px;
    height: 24px;
}
.fb-logo{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
.Insta-logo{
    width: 24px;
    height: 24px;
    margin-left: 10px;
}
