
<mat-card>

    <div class="footer">

        <!-- Top row -->
        <div class="footer-top">
            <div class="footer-left">
                <div class="contact-div">
                    <button class="contact-btn" matButton="outlined">Contact us</button>
                </div>

                <div class="app-logo">
                    <a href="#" target="_blank"><img class="appstore-btn" src="/images/applestore.svg"
                            alt="Appstore logo"></a>
                    <a href="#" target="_blank"><img class="google-btn"
                            src="/images/GetItOnGooglePlay_Badge_Web_color_English.png" alt="GoogleStore logo"></a>
                </div>
            </div>

            <div class="footer-links">
                <mat-list class="list-left">
                    <h2 mat-subheader>Support</h2>
                    <mat-list-item><a matLine href="#">FAQs</a></mat-list-item>
                </mat-list>

                <mat-list class="list-right">
                    <h2 mat-subheader>Resources</h2>
                    <mat-list-item><a matLine href="#">Add parking to your website</a></mat-list-item>
                    <mat-list-item><a matLine href="#">Privacy Policy</a></mat-list-item>
                    <mat-list-item><a matLine href="#">Terms of Service</a></mat-list-item>
                    <mat-list-item><a matLine href="#">Accessibility Statement</a></mat-list-item>
                    <mat-list-item><a matLine href="#">Owners Service Update</a></mat-list-item>
                </mat-list>
            </div>
        </div>

        <!-- Bottom row -->
        <div class="footer-bottom">
            <p class="copy-right">© 2026 Parking Inc.
                <a href="#"> Privacy </a>
                <a href="#">. Terms </a>
                <a href="#">. sitemap </a>
            </p>

            <div class="social-icons">
                <a href="#">
                    <img class="x-logo" src="/images/x.png" alt="x handle">
                </a>
                <a href="#">
                    <img class="Insta-logo" src="/images/Instagram.png" alt="Instagram Handle">
                </a>
                <a href="#">
                    <img class="fb-logo" src="/images/Facebook_Logo_Secondary.png" alt="Facebook Handle">
                </a>
            </div>
        </div>


    </div>
</mat-card>