.main-component{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow-x: hidden;
}
.header-component{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-x: hidden;
}
.footer-component{
    margin-top: auto;
}