:root {
    --bgcolor: #1a79cf;
  }
  
  * {
    margin: 0;
    padding: 0;
    font: normal;
  }
  
  .page-header {
    background-color: var(--bgcolor);
    padding: 1.3rem;
    display: flex;
    justify-content: space-between;
  }
  .logo {
    color: rgb(4, 4, 4);
    align-self: center;
    margin-left: 1.2rem;
    font-size: 2.5rem;
  }
  
  .nav-bar {
    margin: auto;
  }
  
  .nav-bar a {
    color: rgb(0, 0, 0);
    padding: 1.5rem;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.2rem;
  }
  
  .menu-icon {
    color: rgb(0, 0, 0);
    cursor: pointer;
    display: none;
  }
  
  button {
    font-size: 1rem;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 5px;
    padding: 0.9rem;
  }
  
  