:root {
  --bgcolor: white
  ;
}
 * {
  margin: 0;
  padding: 0;
  font: normal;
}
 .page-header {
  background-color: var(--bgcolor);
  padding: 1.3rem;
  display: flex;
  justify-content: space-between;
}
.logo {
  color: rgb(4, 4, 4);
  align-self: center;
  margin-left: 1.2rem;
  font-size: 2.5rem;
}
img{
  height: 100px;
  width: 100px;
  align-self: center;
}
 .nav-bar {
  margin: auto;
}
 .nav-bar a {
  color: rgb(0, 0, 0);
  padding: 1.5rem;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
}
 .menu-icon {
  color: rgb(0, 0, 0);
  cursor: pointer;
  display: none;
}

/* buttons centerd */
.header-right{
  align-self: center;
}
.header-left{
  align-self: center;
}
/* sign in button */
.sign-button{
  width: 105px; 
  background-color:  white;
  border: 2px solid  white ;
  padding: 4px 3px; 
  align-self: center;
}
/* sign up button */
.signup-button{
  width: 105px;
  color: white;
  background-color: #0096FF;
  border: 2px solid  #0096FF ;
  padding: 4px 3px;
  border-radius: 100px; 
}
